body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #3333FF;
    color: #FFFF00;
    padding: 20px;}
h1, h2, p {
    padding: 10px;
    line-height: 2em;}
i, a, a:hover, a:visited {
    color: #04FF00;
    border: 2px solid #FF33BE;
    padding: 5px;}